{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
WELCOME TO

{% endblock %}
{% block tittle %}
 search
{% endblock %}
{% block content %}
<div>
    <p class="text-center my search_text">You have Searched For:<b>"{{query}}"</b></p>
</div>
<div class="container">
    <div class="row mx_auto">
        {% for product in products %}
        <div class="my_bottom_margin col-9 col-sm-12 col-md-4 xol-lg-4">
            <div class="card text-center"style="width:18rem;height:30rem;">
                <a href="{{product.get_url}}"><img class="card-img my_image" src="{{product.image.url}}"alt="{{product.name}}"width="400" height="400"></a>
                <div class="card-body">
                    <h4>{{product.name}}</h4>
                    <p><b>RS:{{product.price}}</b></p>
                </div>
            </div>
        </div>

    </div>
    {% empty %}
    <div class="mx_auto">
        <p class="text-centerc.my search_text">No Results Found</p>
    </div>
    {% endfor %}
</div>
{% endblock %}